<mat-stepper [linear]="true" #stepper>
  <mat-step label="Player Name">
    <ng-template matStepContent>
      <app-player-name (nextClicked)="stepper.next()"></app-player-name>
    </ng-template>
  </mat-step>
  <mat-step label="Finishing Order">
    <ng-template matStepContent>
      <app-finishing-order (backClicked)="stepper.previous()" (nextClicked)="stepper.next()"></app-finishing-order>
    </ng-template>
  </mat-step>
  <mat-step label="Houses">
    <ng-template matStepContent>
      <app-houses (backClicked)="stepper.previous()" (nextClicked)="stepper.next()"></app-houses>
    </ng-template>
  </mat-step>
  <mat-step label="Action Cards">
    <ng-template matStepContent>
      <app-action-cards (backClicked)="stepper.previous()" (nextClicked)="stepper.next()"></app-action-cards>
    </ng-template>
  </mat-step>
  <mat-step label="Pets">
    <ng-template matStepContent>
      <app-pets (backClicked)="stepper.previous()" (nextClicked)="stepper.next()"></app-pets>
    </ng-template>
  </mat-step>
  <mat-step label="Babies">
    <ng-template matStepContent>
      <app-babies (backClicked)="stepper.previous()" (nextClicked)="stepper.next()"></app-babies>
    </ng-template>
  </mat-step>
  <mat-step label="Loans">
    <ng-template matStepContent>
      <app-loans (backClicked)="stepper.previous()" (nextClicked)="stepper.next()"></app-loans>
    </ng-template>
  </mat-step>
  <mat-step label="Cash">
    <ng-template matStepContent>
      <app-cash (backClicked)="stepper.previous()" (nextClicked)="stepper.next()"></app-cash>
    </ng-template>
  </mat-step>
</mat-stepper>