<div class="finishing-order">
  <div class="intro">
    What order did you retire?
  </div>

  <div>
    <mat-form-field>
      <mat-label>Retirement Order</mat-label>
      <mat-select (selectionChange)="retirementOrderChanged($event.value)" panelWidth="262px">
        <mat-option value="1" [disabled]="selectedRetirementOrders.includes(1)">1st to retire: Collect 400k</mat-option>
        <mat-option value="2" [disabled]="selectedRetirementOrders.includes(2)">2nd to retire: Collect 300k</mat-option>
        <mat-option value="3" [disabled]="selectedRetirementOrders.includes(3)">3rd to retire: Collect 200k</mat-option>
        <mat-option value="4" [disabled]="selectedRetirementOrders.includes(4)">4th to retire: Collect 100k</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button mat-flat-button (click)="backBtnClicked()" color="accent">Back</button>
    <!-- TODO: set disabled state for next btn -->
    <!-- <button mat-flat-button [disabled]="!selectedOrder" (click)="nextBtnClicked()" color="primary">Next</button> -->
    <button mat-flat-button (click)="nextBtnClicked()" color="primary">Next</button>
  </div>
</div>