<div class="intro">
  Welcome to the Game of Life Calculator, this site will help you calculate your final score
  and show who won your game!
  <br><br>
  Select how many players to calulcate scores for, then click start.
</div>

<div>
  <mat-form-field>
    <mat-label>How many players?</mat-label>
    <mat-select (selectionChange)="playerCountChanged($event.value)">
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button mat-flat-button color="primary" [disabled]="playerCount === 0" (click)="startClicked()">Start</button>