/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.intro {
  margin-bottom: 16px;
}

.stepper-navigation-buttons {
  .mdc-button {
    margin: 0 8px;
  }
}
